.ui {
  background-color:rgb(35, 5, 84);
  display: flex;
  justify-content: space-evenly;
}
.ui-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
  grid: 5%;
}
.main{
  background-color: rgb(35, 5, 84);
}